@model List<OrderItem>

@{
    ViewData["Title"] = "All orders";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8 offset-2">
            <p>
                <h1 style="text-align:center;">List of all your orders</h1>
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Items</th>
                        <th>Total</th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <th>User</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td class="align-middle">@order.Id</td>
                            <td class="align-middle">
                                <ul style="list-style-type:none" style="text-align">
                                        <li>
                                            <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@order.Amount</span> [@order.Price.ToString("c")] - @order.Movie.Name - @order.dateTimeOfOrder
                                            </div>
                                        </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group" style="display:flex;justify-content:space-between;margin-top:30px; text-align: center;">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-info">You've reached the end of the internet</h1>
            <hr />
            <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
        </div>
    </div>
}